<a href="https://colab.research.google.com/github/mohanreddybusireddy/house_price.ipynb/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Load Titanic dataset from seaborn
df = sns.load_dataset('titanic')

# Display first few rows
print("Dataset sample:")
print(df.head())

# Drop rows with missing values in important columns
df = df[['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare']].dropna()

# Convert categorical variable 'sex' to numeric
df['sex'] = df['sex'].map({'male': 0, 'female': 1})

# Features and target
X = df.drop('survived', axis=1)
y = df['survived']

# Split dataset into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create logistic regression model
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

# Predict
y_pred = model.predict(X_test)

# Accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"\nModel Accuracy: {accuracy:.2f}")

# Predicting survival for a new passenger
# Example: 3rd class, female, age 25, 0 siblings/spouses, 0 parents/children, fare 7.25
new_passenger = pd.DataFrame([[3, 1, 25, 0, 0, 7.25]], columns=X.columns)
prediction = model.predict(new_passenger)[0]

print(f"\nNew passenger survival prediction: {'Survived' if prediction == 1 else 'Did not survive'}")

Dataset sample:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

Model Accuracy: 0.75

New passenger survival prediction: Survived